<!DOCTYPE html>
<html>

<head>
    <title>Companies List</title>
</head>

<body>
    {% include 'Admin_Navbar.html' %}
    {% include './company_modals.html' %}
    <div style="margin-left: 100px; margin-top: 10px;">
        <b>Search Company</b>
        <input type="text" name="search_account" id="search_account" placeholder="Search Acount here">
        <!-- Add New Account Button -->
        <button style="margin-left: 700px;" class="btn btn-sm btn-primary" id="btn_save" data-toggle="modal"
            data-target="#create_company_model">Create Company</button>
    </div>
    <div id="all_accounts" style="margin-left: 100px; margin-right: 100px; margin-top: 20px;">
    </div>
    <!-- Add New Account Modal -->
    <div class="modal fade" id="create_company_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Company Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="all-reply"></div>
                    <form method="POST" id="company_data">
                        {% csrf_token %}
                        <div class="from-group">
                            <label for="Company_Cde" class="form-label">Company Code</label>
                            <input type="text" class="form-control" name="Company_Cde" id="Company_Cde">
                        </div>
                        <div class="from-group">
                            <label for="Company_Name">Company_Name</label>
                            <input type="text" class="form-control" id="Company_Name" name="Company_Name">
                        </div>
                        <div class="from-group">
                            <label for="Description" class="form-label">Description</label>
                            <input type="text" class="form-control" name="Description" id="Description">
                        </div>
                        <div class="from-group">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control" id="Address" name="Address">
                        </div>
                        <div class="from-group">
                            <label for="Logo">Logo</label>
                            <input type="text" class="form-control" id="Logo" name="Logo">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="just_insert_account">Save & New</button>
                    <button type="button" class="btn btn-primary" id="insert_and_close">Save & Close</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

   
    <script type="text/javascript">

        $(document).ready(function () {
            // update load button
            $(document).on("click", ".update_account_data", function () {
                var account_code = $(this).attr('id');
                 //alert(account_code);
                $.ajax({
                    url: 'company_load_for_update/' + account_code,
                    type: 'POST',
                    dataType: 'JSON',
                    success: function (data) {
                        console.log(data)
                        $('#edit_Company_Cde').val(data.Company_Code)
                        $('#edit_Company_Name').val(data.Company_Name)
                        $('#edit_Description').val(data.Description)
                        $('#edit_Address').val(data.Address)
                        $('#edit_Logo').val(data.Logo)
                    }
                });
            });
            // Search Account Id
            $(document).on('keyup', function () {
                var search_id = $("#search_account").val();
                $.ajax({
                    url: 'chart_of_accounts1.php',
                    type: 'POST',
                    data: { search_id: search_id },
                    success: function (search_data) {
                        $("#all_accounts").html(search_data);
                    }
                });
            });
            // insert message id become empty
            $(document).on("click", "#btn_save", function () {
                $("#all-reply").empty();
            });
            // update message id become empty
            $(document).on("click", ".update_btn", function () {
                $("#edit_reply").empty();
            });
            // just insert Account data
            $("#just_insert_account").on("click", function () {
                // alert("came here");
                var company_form = $("#company_data").serialize();
                $.ajax({
                    url: "company_insert",
                    type: "POST",
                    data: company_form,
                    success: function (data) {
                        if (data == "Company Created") {
                            $("#all-reply").empty();
                            $("#all-reply").append('<div class="alert alert-success text-center" role="alert">' + data + '</div>');
                            $("#all-reply").fadeIn();
                            $("#all-reply").fadeOut(3000).delay(1000).hide(100);
                            all_compnies_data();
                            $("#accounts_data")[0].reset();
                        } else {

                            $("#all-reply").empty();
                            $("#all-reply").append('<div class="alert alert-danger text-center" role="alert">' + data + '</div>');
                            $("#all-reply").fadeIn();
                            $("#all-reply").fadeOut(3000).delay(1000).hide(100);
                        }
                    }
                });
            });
            // insert and close Account data
            $("#insert_and_close").on("click", function () {
                let company_form = $("#company_data").serialize();
                $.ajax({
                    url: "company_insert",
                    type: "POST",
                    data: company_form,
                    success: function (data) {
                        if (data == "Company Created") {
                            $('#add_account_model').modal('hide');
                            $("#all-reply").empty();
                            $("#all-reply").append('<div class="alert alert-success text-center" role="alert">' + data + '</div>');
                            $("#all-reply").fadeIn();
                            $("#all-reply").fadeOut(3000).delay(1000).hide(100);
                            all_compnies_data();
                            $("#accounts_data")[0].reset();
                        } else {
                            $("#all-reply").empty();
                            $("#all-reply").append('<div class="alert alert-danger text-center" role="alert">' + data + '</div>');
                            $("#all-reply").fadeIn();
                            $("#all-reply").fadeOut(3000).delay(1000).hide(100);
                        }
                    }
                });
            });
            // just Update Account data
            $("#just_update_account").on("click", function () {
                var edit_company_data = $("#edit_company_data").serialize();
                $.ajax({
                    url: "company_update",
                    type: "POST",
                    data: edit_company_data,
                    success: function (data) {
                        if (data == "Company Updated") {
                            $("#edit_reply").empty();
                            $("#edit_reply").append('<div class="alert alert-success text-center" role="alert">' + data + '</div>');
                            $("#edit_reply").fadeIn();
                            $("#edit_reply").fadeOut(3000).delay(1000).hide(100);
                            all_compnies_data();
                            $("#edit_accounts_data")[0].reset();
                        } else if (data == "plese fill all required fields") {
                            $("#edit_reply").empty();
                            $("#edit_reply").append('<div class="alert alert-danger text-center" role="alert">' + data + '</div>');
                            $("#edit_reply").fadeIn();
                            $("#edit_reply").fadeOut(3000).delay(1000).hide(100);
                        } else {
                            $("#edit_reply").empty();
                            $("#edit_reply").append('<div class="alert alert-danger text-center" role="alert">' + data + '</div>');
                            $("#all-reply").fadeIn();
                            $("#all-reply").fadeOut(3000).delay(1000).hide(100);
                        }
                    }
                });
            });
            // Update and close Account Modal
            $("#update_and_close").on("click", function () {
                var account_form = $("#edit_company_data").serialize();
                $.ajax({
                    url: "company_update",
                    type: "POST",
                    data: account_form,
                    success: function (data) {
                        if (data == "Company Updated") {
                            $('#update_company_model').modal('hide');
                            $("#edit_reply").empty();
                            $("#edit_reply").append('<div class="alert alert-success text-center" role="alert">' + data + '</div>');
                            $("#edit_reply").fadeIn();
                            $("#edit_reply").fadeOut(3000).delay(1000).hide(100);
                            all_compnies_data();
                        } else {
                            $("#edit_reply").empty();
                            $("#edit_reply").append('<div class="alert alert-danger text-center" role="alert">' + data + '</div>');
                            $("#all-reply").fadeIn();
                            $("#all-reply").fadeOut(3000).delay(1000).hide(100);
                        }
                    }
                });
            });

            all_compnies_data();
            load_accounts();

        });

        //accounts laad for input account data form
        function load_accounts() {
            $.ajax({
                url: 'head_load',
                type: 'POST',
                success: function (sub_name) {
                    $("#account_id").html(sub_name);
                    $("#update_account_id").html(sub_name);

                }
            });
        }

        // Chart of accounts call
        function all_compnies_data() {
            $.ajax({
                url: "select_compnies",
                type: 'POST',
                success: function (all_accounts) {
                    $("#all_accounts").html(all_accounts);
                }
            });
        }

    </script>
</body>

</html>