<!DOCTYPE html>
<html>
<head>
    <title>Add Transection Details</title>
</head>
<body>
    {% include 'header.html' %}
    <div id="msg"></div>
    <div style="margin-top: 20px; margin-left: 1000px;"><a href="{% url 'all_journal_vouchers' %}" class="btn btn-primary">View All Vouchers</a></div>
    <!-- Ledger Equity Insert Modal Start -->
    <div>
        <div class="">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 1100px; margin-left: -300px;">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Voucher Details</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div style="margin-left: 15px; margin-bottom: 30px;">
                                <br>
                                <table>
                                    <tr>
                                        <td><label><b>Voucher no<span style="color:red; font-weight:bold">*</span></b></label></td><td>{{voucher_main.Voucher_No }}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><label><b> Date Created</b></label></td><td>{{voucher_main.Created_on}}</td>
                                    </tr>
                                    <tr>
                                        <td><label><b> Voucher Type<span style="color:red; font-weight:bold">*</span></b></label></td><td>{{voucher_main.Voucher_Type_Code}}</td>
                                    </tr>
                                </table>
                            </div>
                            <br>
                            
                            <div class="form-group">
                                <table class="table" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Account code<span style="color:red; font-weight:bold">*</span></th>
                                            
                                            <th> Description</th>
                                            <th>Debit<span style="color:red; font-weight:bold">*</span></th>
                                            <th>Credit<span style="color:red; font-weight:bold">*</span></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_body">
                                        {% for i in voucher_details %}
                                        <tr>
                                            <td>
                                                {{i.Account_No.Account_Description}}
                                            </td>
                                            
                                            <td>
                                                {{i.Description}}
                                            </td>
                                            <td><div class="form-group">
                                                {{i.Debit}}
                                            </div></td>
                                            <td><div class="form-group">
                                                {{i.Credit}}
                                            </div></td>
                                            <td>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ledger Equity Insert Modal End -->

 

</body> 
</html>